<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/project.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Jest Smart Home</title>
  </head>
  <body>
    <%- include('layouts/menu') -%>
    <main>
      <h1>Jest Smart Home</h1>
      <div>
        <h3 id="date_display"></h3>
      </div>
      <form>
        <div>
          <label>Notifications</label>
          <input type="checkbox" id="notifications" checked />
        </div>
        <div>
          <label>Power Mode</label>
        </div>
        <div>
          <div>
            <label for="off">Off</label>
            <input type="radio" id="off" name="lighting_mode" value="Off" />
          </div>
          <div>
            <label for="away">Away</label>
            <input type="radio" id="css" name="lighting_mode" value="Away" />
          </div>
          <div>
            <label for="eco">Economy</label>
            <input
              type="radio"
              id="eco"
              name="lighting_mode"
              value="Eco"
              
            />
          </div>
          <div>
            <label for="full">Full</label>
            <input type="radio" id="full" name="lighting_mode" value="Full" />
          </div>
        </div>
        <div>
          <label>Location</label>
          <input
            type="text"
            id="location"
            placeholder="Postal Code"
            value="L7W 4T8"
          /><span id="location_error" class="error-span"></span>
        </div>
        <div>
          <label>Temperature</label>
          <input
            type="number"
            id="temperature"
            name="temperature"
            min="5"
            max="30"
            step="0.5"
            value="21"
          /><span id="temperature_error" class="error-span"></span>
        </div>
        <div>
          <label></label>
          <input type="submit" value="Update" id="update_settings" />
          <input type="reset" value="Reset" id="reset_form" />
        </div>
      </form>
      <h2>Current Settings</h2>
      <div>
        <label>Notifications&nbsp;</label>
        <span class="current-setting" id="setting_notifications">On</span>
      </div>
      <div>
        <label>Lighting Mode&nbsp;</label>
        <span class="current-setting" id="setting_lighting_mode">Eco</span>
      </div>
      <div>
        <label>Location&nbsp;</label
        ><span class="current-setting" id="setting_location">L7W 4T8</span>
      </div>
      <div>
        <label>Temperature&nbsp;</label
        ><span class="current-setting" id="setting_temperature">21</span
        ><span>°C</span>
      </div>
    </main>
    <script src="js/dashboard.js"></script>
  </body>
</html>
