<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fishing Slide Show</title>
    <link rel="stylesheet" href="css/project.css">
</head>
<body>
    <main>
        <h1>Fishing Slide Show</h1>

        <ul id="image_list">
            <li><a href="images/ala.png" title="Catch and Release"></a></li>
            <li><a href="images/mars.png" title="Marsh at Play"></a></li>
            <li><a href="images/shroom.png" title="The Big One!"></a></li>
            <li><a href="images/wurm.png" title="Roaming Worm"></a></li>
        </ul>
    
        <p><img id="main_image" src="images/ala.png" alt="Catch and Release"></p>
        <h2 id="caption">Catch and Release</h2>    

        <script src="js/slide-show.js"></script>
    </main>  
</body>
</html>